<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout">

<head>
  <title>Articulo</title>
</head>

<body>
  <section layout:fragment="header">
    <h1>Articulos</h1>
    <ol class="breadcrumb">
      <li>
        <a href="/cuentas"><i class="fa fa-dashboard"></i> Cuentas</a>
      </li>
      <li class="active">Articulos</li>
    </ol>
  </section>

  <div layout:fragment="content">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Listar</h3>
        <div class="box-tools pull-right">
          <a href="/art/add" type="button" class="btn btn-box-tool"><i class="fa fa-plus"></i></a>
          <br clear="all" />
        </div>
      </div>

      <div class="box-body no-padding">
        <table id="dtArt" class="table table-bordered">
          <thead>
            <tr>
              <th>Articulo</th>
              <th>Descripcion</th>
              <th>Tipo</th>
            </tr>
          </thead>
        </table>
      </div>

    </div>

  </div>

  <th:block layout:fragment="script">
    <script th:src="@{/dist/js/art/art.js}"></script>
  </th:block>
</body>

</html>